.single-review-container {
    display: flex;
    gap: 30px;
    padding: 10px;
    border-bottom: 2px solid #d8d9db;
}

.single-review-container img{
    border-radius:50%;
    width: 60px;
    height: 60px;
}

.single-review-left-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.single-review-left-icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.single-review-right-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#update-delete-review-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#update-delete-review-buttons button{
    padding: 5px;
}

.single-review-right-icon-container {
    display: flex;
    align-items: center;
    gap: 20px;
}