.new-restaurant-container {
    position: relative;
}

.intro-new-restaurant {
    margin:20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(252.28deg, #FDAF08 0%, #DA3642 51.04%, #1A0A47 100%);
    padding-bottom: 400px;
    padding-top: 100px;
}

.new-restaurant-form-container {
    background-color: white;
    border: 2px solid #d8d9db;
    border-radius: 50px;
    display: flex;
   
    flex-direction: column;
    margin: 0 40px;
    height: 900px;
    position: absolute;
    top:400px;
    width: 90%;
    height: fit-content;
    padding: 20px
}

.new-restaurant-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

#restaurant-form {
    width: 100%;
    padding: 10px;
}

.businesshour-container-newform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
.rating-input {
    display: flex;
    align-items: center;

}

.rating-input i{
    font-size: 30px;
}

.businesshour-container-newform label{
    display: flex;
    gap: 5px;
    align-items: center;
}

#loading-circle {
    font-size: 100px;
    animation: 1s linear 0s infinite animating-multiple-properties;
}

@keyframes animating-multiple-properties {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}