.profile-dropdown {
  position: absolute;
  border: 2px solid #d8d9db;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  z-index: 1;
}

.hidden {
  display: none;
}

.nav-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
  align-items: center;
}

.nav-bar a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap:10px;
  font-weight: bold;
}

.nav-bar img {
  height: 50px;
  width: 60px;
}

#user-button {
  border: solid 2px rgb(228, 169, 59);
  display: flex;
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
}

#user-button img {
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

#user-button i {
  font-size: x-large;
}

#Logout-profile-dropdown{
  background-color: white;
  color: #da3743;
  padding: 0;
  font-weight: bold;
}

.login-button {
  background-color: white;
  color: #da3743;
  font-weight: bold;
  border: 2px solid #da3743;
}

.signup-button {
  background-color: white;
  color: #da3743;
  font-weight: bold;
  border: 2px solid #da3743;
}

#demouser-button {
  background-color: white;
  color: #da3743;
  font-weight: bold;
  border: 2px solid #da3743;
}