

.single-restaurant-container {
    /* position: absolute;
    transition: top 2s ease-in-out .7s; */
    border: 2px solid #d8d9db;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    width: 250px;
}
/* 
.single-restaurant-container:hover {
   top: -10px;
} */

.restaurant-middle-container {
    display: flex;
    gap: 20px;
}

.img-container img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
}

#avgPriceIcon-container div{
    width: 40px;
}

@media screen and (max-width:1200px) {
    .img-container img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        cursor: pointer;
    }

    .single-restaurant-container {
        /* position: absolute;
        transition: top 2s ease-in-out .7s; */
        border: 2px solid #d8d9db;
        border-radius: 20px;
        padding: 20px;
        width: fit-content;
        width: 200px;
        font-size: 12px;
    }

    #recommend-time-button-container button{
        width: fit-content;
        padding: 12px;
    }
}
