.delte-review-container {
    display: flex;
    flex-direction: column;
}

.delete-review-upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-bottom: 2px solid #d8d9db;
}

.delete-review-upper-container img{
    width: 125px;
    height: 125px;
}

.delete-review-lower-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.confirm-button-delete-review-container {
    display: flex;
    justify-content: space-around;
}

.confirm-button-delete-review-container button {
    width: 100px
}